@media(min-width: 1300px){
    body main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    body main .container{
        display: grid;
        grid-template-areas: "com-daniel com-daniel com-jonathan com-kira"
                             "com-jeanette com-patrick com-patrick com-kira";
        grid-template-columns: repeat(4, 1fr);
        width: 1280px;
    }
    body main .com-daniel{
        grid-area: com-daniel;
        width: 540px;
        height: 280px;
        background-position: 82% 0;
    }
    body main .com-daniel .com-principal{
        width: 480px;
    }
    body main .com-daniel .com-secundario{
        width: 480px;
    }
    body main .com-jonathan{
        grid-area: com-jonathan;
        width: 255px;
        height: 280px;
    }
    body main .com-jonathan .com-principal{
        width: 230px;
    }
    body main .com-kira{
        grid-area: com-kira;
        width: 255px;
        height: 572px;
    }
    body main .com-kira .com-principal{
        width: 180px;
        padding-bottom: 25px;
    }
    body main .com-kira .com-secundario{
        width: 195px;
    }
    body main .com-jeanette{
        grid-area: com-jeanette;
        width: 255px;
        height: 265px;
    }
    body main .com-jeanette .com-principal{
        width: 180px;
        padding-bottom: 25px;
    }
    body main .com-patrick{
        grid-area: com-patrick;
        width: 540px;
        height: 265px;
    }
    body main .com-patrick .com-principal{
        width: 480px;
        padding-bottom: 25px;
    }
    body main .com-patrick .com-secundario{
        width: 470px;
    }
}